
{# vamos a heredar una PLANTILLA O LAYOUT en esta vista #}
{% extends "layout.html.twig" %}

{% block contenedor %}
    {{ parent()}}
    {{ texto }}
    
    <hr/>
    
        {{ frutas.manzana}}
            <br/>
    {% if frutas.pera starts with 'r'%}
        {{ frutas.pera}}
    {% endif%}
    
    <hr/>
    
    {# la funcion lenght es un filtro de twig #}
    {% if productos|length > 0 %}
        <ul> 
            {% for producto in productos %}
                <li>{{ producto.producto }} precio: {{ producto.precio}}</li>
            {% endfor %}
        <ul/>
    {% endif %}
    
{% endblock %}








