{# estoy en la rama development #}



{# vamos a heredar una PLANTILLA O LAYOUT en esta vista #}
{% extends "layout.html.twig" %}

{% block contenedor %}
    {{ parent()}}
    {{ texto }}
    
    
    <hr/>
    
    {{ frutas.manzana}}
            <br/>
    {% if frutas.pera starts with 'r'%}
        {{ frutas.pera}}
    {% endif%}
    
    <hr/>
    
    {# la funcion lenght es un filtro de twig #}
    {% if productos|length > 0 %}
        <ul> 
            {% for producto in productos %}
                <li>{{ producto.producto }} precio: {{ producto.precio}}</li>
            {% endfor %}
        <ul/>
    {% endif %}
    
    <hr/>
    {% set fecha = date()%}
    {{ dump(fecha) }}
    
    {#Funciones de TWIG#}
    {# Podemos incluir partials con la función include #}
    {{ include('AppBundle:pruebas:partial.html.twig') }}
    
    {# Funcion que saca el mayor #}
    {{max([1,5,9])}}
    
    {# Funcion que saca el menor #}
    {{ min([1,5,9]) }}
    
    <hr/>
    
    {%for indice in range(0, 10, 2)%}
        {{ indice }}<br/>
    {%endfor%}
    
    {# utilizar las funciones o helpers #}
    {{ generateTable(5,2)|raw}}
    
    {# Usar el filtro creado por mi llamado addText en las vistas #}
    <hr/>
    {# cadena de texto sera el primer parametro de la funcion
        addText(), y el numero pasado sera el segundo
        y asi sucesivamente.
    #}
    {{"cadena de texto"|addText(28)}}
{% endblock %}








